---
import { Header, EventCarousel, Lightbox } from '../components';
import { getEvents } from '../lib/events';
import '../styles/global.css';

const events = getEvents();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sbermuz</title>
	</head>
	<body class="bg-bg">
		<Header />
		<main>
			{events.map((event) => (
				<EventCarousel title={event.title} date={event.date} description={event.description} ctaText={event.ctaText} ctaUrl={event.ctaUrl} flyer={event.flyer} photos={event.photos} />
			))}
		</main>
		<Lightbox />
	</body>
</html>
