---
import { EventPhoto } from '../atoms';

interface PhotoItem {
  src: string;
  originalSrc: string;
  id: string;
  width: number;
  height: number;
}

interface Props {
  photos: PhotoItem[];
  date: string;
  class?: string;
}

const { photos, date, class: className } = Astro.props;
---

<div class={className}>
  {photos.map((photo) => (
    <EventPhoto src={photo.src} originalSrc={photo.originalSrc} date={date} id={photo.id} width={photo.width} height={photo.height} />
  ))}
</div>
